.news-ticker {
    width:98.8%;
    top:0px;
    left:0px;
    border:solid 3px;
    padding: 5px;
    position:absolute;
    text-align: center;
}
.square-button {
    height:50px;
    width:50px;
    text-align: center;
}